<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.book"
    version="0.0.1">
    <!-- id 就是放到 Plugins 資料夾內的資料夾名稱 -->
    <name>book</name>
    <description>book!</description>

    <!-- 是用版本 -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="book" src="www/book.js">

        <!-- 真正會出現在 JavaScript 環境的 Function 名稱 -->
        <!-- 如果沒設定在 JS 好像會抓不到 -->
        <!-- ref: http://docs.phonegap.com/zh/3.5.0/guide_hybrid_plugins_index.md.html#%E5%A4%96%E6%8E%9B%E7%A8%8B%E5%BC%8F%E9%96%8B%E7%99%BC%E6%8C%87%E5%8D%97 -->
        <clobbers target="scotts_tool" />

    </js-module>
    <platform name="android">
        <!-- from src/android/CDVbook.java copy to android platform src/com/book -->
        <!-- 所以 CDVBook.java 的 package 要設定為 com.book -->
        <source-file src="src/android/CDVbook.java" target-dir="src/com/book" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="book">
                <!-- value 要填寫道 .java File 的路徑 -->
                <!-- com/book/CDVbook.java -->
                <param name="android-package" value="com.book.CDVbook" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!-- 如果你要設定 Plugin Android Permission -->
        </config-file>
    </platform>
</plugin>
